{% extends '@Editorial/base.html.twig' %}

{% block title %}Vaše články{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Název článku</th>
            <th scope="col">Číslo časopisu</th>
            <th scope="col">Status</th>
            <th scope="col">Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.name }}</td>
                <td>{{ article.magazineChoiceName }}</td>
                <td class="status-{{ article|statusClass }}">{{ article|statusName }}</td>
                <td>
                    <a href="{{ path('article_detail', {id: article.id}) }}" class="btn btn-sm btn-success mb-1">Detail</a>
                    <a href="{{ path('download_article', {id: article.id}) }}" class="btn btn-sm btn-primary mb-1">Stáhnout</a>
                    {% if is_granted('UPDATE', article) %}
                        <a href="{{ path('author_article_update', {id: article.id}) }}" class="btn btn-sm btn-warning mb-1">Upravit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
