{% extends '@Editorial/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% import '@Editorial/Macros/tableHead.html.twig' as th %}


{% block title %}Vaše články{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <div class="row">
            <div class="col-sm">{{ form_row(form.magazine) }}</div>
            <div class="col-sm">{{ form_row(form.status) }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form_row(form.createdFrom) }}</div>
            <div class="col-sm">{{ form_row(form.createdTill) }}</div>
        </div>
        <button class="btn btn-primary">Filtrovat</button>
    {{ form_end(form) }}

    <table class="table table-striped mt-5">
        <thead>
        <tr>
            {{ th.nav(pagination, 'a.id', '#') }}
            {{ th.nav(pagination, 'a.name', 'Název článku') }}
            {{ th.nav(pagination, 'm.id', 'Číslo časopisu') }}
            {{ th.nav(pagination, 'a.status', 'Status') }}
            <th scope="col">Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.name }}</td>
                <td>{{ article.magazineChoiceName }}</td>
                <td class="status-{{ article|statusClass }}">{{ article|statusName }}</td>
                <td>
                    <a href="{{ path('article_detail', {id: article.id}) }}" class="btn btn-sm btn-success mb-1">Detail</a>
                    <a href="{{ path('download_article', {id: article.id}) }}" class="btn btn-sm btn-primary mb-1">Stáhnout</a>
                    {% if is_granted('UPDATE', article) %}
                        <a href="{{ path('author_article_update', {id: article.id}) }}" class="btn btn-sm btn-warning mb-1">Upravit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination-navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="pagination-count">
        Celkem: {{ pagination.totalItemCount }}
    </div>
{% endblock %}
