{% extends '@Editorial/base.html.twig' %}

{% block title %}Články čekající na Vaše hodnocení{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Název článku</th>
                <th scope="col">Autor</th>
                <th scope="col">Deadline</th>
                <th scope="col">Verze</th>
                <th scope="col">Akce</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <th scope="row">{{ review.id }}</th>
                <th>{{ review.articleName }}</th>
                <th>{{ review.articleOwnerInfo }}</th>
                <td>{{ review.deadline|date('d. m. Y') }}</td>
                <td>{{ review|articleVersion }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('article_detail', {id: review.articleId}) }}">Detail</a>
                    <a class="btn btn-primary" href="{{ path('download_article', {id: review.articleId }) }}">Stáhnout</a>
                    <a class="btn btn-success" href="{{ path('reviewer_review_fill', {id: review.id }) }}">Přidat hodnocení</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
