{% extends '@Editorial/base.html.twig' %}
{% import '@Editorial/Macros/tableHead.html.twig' as th %}

{% block title %}Články čekající na Vaše hodnocení{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                {{ th.nav(pagination, 'r.id', '#') }}
                {{ th.nav(pagination, 'a.name', 'Název článku') }}
                {{ th.nav(pagination, 'o.username', 'Autor') }}
                {{ th.nav(pagination, 'r.deadline', 'Deadline') }}
                <th scope="col">Verze</th>
                <th scope="col">Akce</th>
            </tr>
        </thead>
        <tbody>
        {% for review in pagination %}
            <tr>
                <th scope="row">{{ review.id }}</th>
                <td>{{ review.articleName }}</td>
                <td>{{ review.articleOwnerInfo }}</td>
                <td>{{ review.deadline|date('d. m. Y') }}</td>
                <td>{{ review|articleVersion }}</td>
                <td>
                    <a class="btn btn-sm mb-1 btn-info" href="{{ path('article_detail', {id: review.articleId}) }}">Detail</a>
                    <a class="btn btn-sm mb-1 btn-primary" href="{{ path('download_article', {id: review.articleId }) }}">Stáhnout</a>
                    <a class="btn btn-sm mb-1 btn-success" href="{{ path('reviewer_review_fill', {id: review.id }) }}">Přidat hodnocení</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination-navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="pagination-count">
        Celkem: {{ pagination.totalItemCount }}
    </div>
{% endblock %}
