{% extends '@Editorial/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ user|operation }} uživatele{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ user|operation }}</button>
    {{ form_end(form) }}
{% endblock %}
